# Ejercicios de estructuras, conjuntos, diccionarios y funciones de Python
**Docente**: Antonio Gago.  **I.E.S. Velázquez:** Curso 2020-2021
**Alumno**:

## Índice de ejercicios
* [Ejercicio 1](#ejercicio_uno)
* [Ejercicio 2](#ejercicio_dos)
* [Ejercicio 3](#ejercicio_tres)
* [Ejercicio 4](#ejercicio_cuatro)
* [Ejercicio 5](#ejercicio_cinco)
* [Ejercicio 6](#ejercicio_seis)

## Ejercicio 1 <a name="ejercicio_uno"/>

Escriba un programa que pida un número de tiradas de un dado mayor que una. Si no salen dos dados iguales seguidos, el jugador gana. Si salen iguales, pierde.

Número de tiradas de dados: 1 ¡Imposible!

Número de tiradas de dados: 6 Dados: 3 1 1 4 6 2 El jugador ha perdido.

Número de tiradas de dados: 4 Dados: 4 2 5 3 El jugador ha ganado.

### ¡Prueba tú!

In [53]:
#importación de la librería random
import random
# randrange devuelve un número aleatorio en un rango dentro de random
num = int(input('Introduce un numero de tiradas: '))
dados = []
if(num == 1):
    print("Imposible!!!!")
else:
    dadoantiguo = 0
    ganar = True
    for i in range(0,num):
        dados.append(random.randrange(1,6)) 
    for a in dados:
        if(a == dadoantiguo):
            print("El jugador ha perdido")
            ganar = False
            break
        dadoantiguo = a
    if(ganar):
        print("El jugador ha ganado")
    print("Tiradas",dados)

Introduce un numero de tiradas: 5
El jugador a perdido
Tiradas [1, 2, 3, 5, 5]

<hr>

## Ejercicio 2 <a name="ejercicio_dos"/>

Dados dos listados independientes de nombres de los alumnos de 1º ESO y 2º ESO. 

| 1º ESO | 2º ESO |                
|:-|:-:|
|Antonio | Jaime|
|María | Marta|
|Juan | José|
|Marina | Antonio|
|Andrés | Marcos|
|Jaime | Alba|
|Lucía | Maite|
|Belén | Esther|
|Jorge | Paula|
|Pedro | Alonso|
|Ana | Lucía|
|Violeta | Antonio|

Mostrar:
* Mostrar los nombres de todos los alumnos de 1º ESO y de 2º ESO (los repetidos sólo deben aparecer una vez)
* Mostrar los nombres que se repiten entre los alumnos de 1º ESO y de 2º ESO. 
* Mostrar los nombres de los alumnos de 1º ESO que no se repiten en 2º ESO.

### ¡Prueba tú!

In [63]:
eso1 = {"Antonio","María","Juan","Marina","Andrés","Jaime","Lucía","Belén","Jorge","Pedro","Ana","Violeta"}
eso2 = {"Jaime","Marta","José","Antonio","Marcos","Alba","Maite","Esther","Paula","Alonso","Lucía","Antonio"}

print('Mostrar los nombres de todos los alumnos', eso1 | eso2)
print("__________________________________________________________________________________")
print('Mostrar los nombres que se repiten entre los alumnos', eso1 & eso2)
print("__________________________________________________________________________________")
print('Mostrar los nombres de los alumnos de 1º ESO que no se repiten en 2º ESO', eso1 - eso2)

Mostrar los nombres de todos los alumnos {'Jorge', 'Alonso', 'Antonio', 'María', 'Alba', 'Ana', 'Lucía', 'Belén', 'Marcos', 'Juan', 'Paula', 'Jaime', 'Esther', 'Marina', 'Violeta', 'Marta', 'Pedro', 'Maite', 'Andrés', 'José'}
__________________________________________________________________________________
Mostrar los nombres que se repiten entre los alumnos {'Antonio', 'Lucía', 'Jaime'}
__________________________________________________________________________________
Mostrar los nombres de los alumnos de 1º ESO que no se repiten en 2º ESO {'Belén', 'Juan', 'Andrés', 'Jorge', 'Marina', 'Violeta', 'Pedro', 'María', 'Ana'}

<hr>

## Ejercicio 3 <a name="ejercicio_tres"/>

Suponer una lista de datos con las compras hechas por clientes de una empresa a lo largo de un mes, la cual contiene tuplas con información de cada venta:


| Cliente | Día del Mes | Montaje | Dirección |                
|:-|:-:| :-| :-|
|Juan José | 5| 1234.50€ | Calle Sol nº 15 | 
|María Canto | 6| 875.15€ | Calle Luna nº 3 
|Juan José | 8| 294.86€ | Calle Sol nº 15 |  
|Marta López | 10 | 594.86€ | Calle León nº 15 | 
|María Canto | 13| 475.85€ | Calle Luna nº 3 |
|Adriano | 17| 715.25€ | Calle Miel nº 30 |
|Marta López | 20 | 1095.30€ | Calle León nº 15 | 
|Valeria | 25 | 745.30€ | Calle Pio nº 25 | 

Escribir una función que reciba como parámetro una lista con el fomato indicado anteriormente y devuelva las direcciones de cada cliente al que se le debe enviar una factura.

**Nota:** Cada cliente puede haber hecho más de una compra durante el mes, por lo que la función dede develover uns estructura que contenga cada dirección sólo una vez.

### ¡Prueba tú!

In [77]:
clientesDeuda = (("Juan José ",5,1234.50,"Calle Sol nº 15"),("María Canto",6,875.15," Calle Luna nº 3")
                 ,("Juan José",8,294.86,"Calle Sol nº 15"),("Marta López",10,594.86,"Calle León nº 15")
                 ,("María Canto",6,875.15," Calle Luna nº 3"),("María Canto",6,875.15," Calle Luna nº 3"))

def DireccionMorosos(clientes):
    direcciones = []
    for cliente in clientes:
        direcciones.append(cliente[3])
    direccion = set(direcciones)
    print(direccion)    

DireccionMorosos(clientesDeuda)

{' Calle Luna nº 3', 'Calle León nº 15', 'Calle Sol nº 15'}

<hr>

## Ejercicio 4 <a name="ejercicio_cuatro"/>

Obtener múltiplos de "dos", "cuatro" y "ocho".

Construye un lista de tuplas en el que cada tupla es de la forma (numero, mayor divisor entre dos, cuatro y ocho)
En las lista sólo se den incluir los números desde el 1 hasta el 1600 que sean múltiplos de dos cuatro u ocho.

[(2,"dos"), (4,"cuatro"), (6,"dos"), (8, "ocho"), (10, "dos"), (12,"cuatro"), (14,"dos"), (16,"ocho"),....(1600,"ocho")]


* Obtén mediante slicing las tuplas (numero, mayor divisor entre dos, cuatro y ocho) de los primeros 15 números cuyo mayor divisor sea dos.
* Obtén mediante slicing las tuplas (numero, mayor divisor entre dos, cuatro y ocho) de los últimos 10 números cuyo mayor divisor sea ocho.
* Obtén mediante slicing las tuplas (numero, mayor divisor entre dos, cuatro y ocho) todos los múltiplos de cuatro.

### ¡Prueba tú!

In [1]:

numeros = ('dos','cuatro','ocho')
numer = []
for i in range(1,1602):
     
    if(i%8==0):
        numer.append((i,numeros[i%2+2]))
    elif(i%4==0):
         numer.append((i,numeros[i%2+1]))
    elif(i%2==0):
         numer.append((i,numeros[  i%2+0]))
            

print(numer[::2][:15])
print("______________________________________________________________________________________________________________")
print(sorted(numer, key=lambda x: x[1])[-10:])
print("______________________________________________________________________________________________________________")
print(numer[1::4])

[(2, 'dos'), (6, 'dos'), (10, 'dos'), (14, 'dos'), (18, 'dos'), (22, 'dos'), (26, 'dos'), (30, 'dos'), (34, 'dos'), (38, 'dos'), (42, 'dos'), (46, 'dos'), (50, 'dos'), (54, 'dos'), (58, 'dos')]
______________________________________________________________________________________________________________
[(1528, 'ocho'), (1536, 'ocho'), (1544, 'ocho'), (1552, 'ocho'), (1560, 'ocho'), (1568, 'ocho'), (1576, 'ocho'), (1584, 'ocho'), (1592, 'ocho'), (1600, 'ocho')]
______________________________________________________________________________________________________________
[(4, 'cuatro'), (12, 'cuatro'), (20, 'cuatro'), (28, 'cuatro'), (36, 'cuatro'), (44, 'cuatro'), (52, 'cuatro'), (60, 'cuatro'), (68, 'cuatro'), (76, 'cuatro'), (84, 'cuatro'), (92, 'cuatro'), (100, 'cuatro'), (108, 'cuatro'), (116, 'cuatro'), (124, 'cuatro'), (132, 'cuatro'), (140, 'cuatro'), (148, 'cuatro'), (156, 'cuatro'), (164, 'cuatro'), (172, 'cuatro'), (180, 'cuatro'), (188, 'cuatro'), (196, 'cuatro'), (204, 'cuatro'), (212, 'cuatro'), (220, 'cuatro'), (228, 'cuatro'), (236, 'cuatro'), (244, 'cuatro'), (252, 'cuatro'), (260, 'cuatro'), (268, 'cuatro'), (276, 'cuatro'), (284, 'cuatro'), (292, 'cuatro'), (300, 'cuatro'), (308, 'cuatro'), (316, 'cuatro'), (324, 'cuatro'), (332, 'cuatro'), (340, 'cuatro'), (348, 'cuatro'), (356, 'cuatro'), (364, 'cuatro'), (372, 'cuatro'), (380, 'cuatro'), (388, 'cuatro'), (396, 'cuatro'), (404, 'cuatro'), (412, 'cuatro'), (420, 'cuatro'), (428, 'cuatro'), (436, 'cuatro'), (444, 'cuatro'), (452, 'cuatro'), (460, 'cuatro'), (468, 'cuatro'), (476, 'cuatro'), (484, 'cuatro'), (492, 'cuatro'), (500, 'cuatro'), (508, 'cuatro'), (516, 'cuatro'), (524, 'cuatro'), (532, 'cuatro'), (540, 'cuatro'), (548, 'cuatro'), (556, 'cuatro'), (564, 'cuatro'), (572, 'cuatro'), (580, 'cuatro'), (588, 'cuatro'), (596, 'cuatro'), (604, 'cuatro'), (612, 'cuatro'), (620, 'cuatro'), (628, 'cuatro'), (636, 'cuatro'), (644, 'cuatro'), (652, 'cuatro'), (660, 'cuatro'), (668, 'cuatro'), (676, 'cuatro'), (684, 'cuatro'), (692, 'cuatro'), (700, 'cuatro'), (708, 'cuatro'), (716, 'cuatro'), (724, 'cuatro'), (732, 'cuatro'), (740, 'cuatro'), (748, 'cuatro'), (756, 'cuatro'), (764, 'cuatro'), (772, 'cuatro'), (780, 'cuatro'), (788, 'cuatro'), (796, 'cuatro'), (804, 'cuatro'), (812, 'cuatro'), (820, 'cuatro'), (828, 'cuatro'), (836, 'cuatro'), (844, 'cuatro'), (852, 'cuatro'), (860, 'cuatro'), (868, 'cuatro'), (876, 'cuatro'), (884, 'cuatro'), (892, 'cuatro'), (900, 'cuatro'), (908, 'cuatro'), (916, 'cuatro'), (924, 'cuatro'), (932, 'cuatro'), (940, 'cuatro'), (948, 'cuatro'), (956, 'cuatro'), (964, 'cuatro'), (972, 'cuatro'), (980, 'cuatro'), (988, 'cuatro'), (996, 'cuatro'), (1004, 'cuatro'), (1012, 'cuatro'), (1020, 'cuatro'), (1028, 'cuatro'), (1036, 'cuatro'), (1044, 'cuatro'), (1052, 'cuatro'), (1060, 'cuatro'), (1068, 'cuatro'), (1076, 'cuatro'), (1084, 'cuatro'), (1092, 'cuatro'), (1100, 'cuatro'), (1108, 'cuatro'), (1116, 'cuatro'), (1124, 'cuatro'), (1132, 'cuatro'), (1140, 'cuatro'), (1148, 'cuatro'), (1156, 'cuatro'), (1164, 'cuatro'), (1172, 'cuatro'), (1180, 'cuatro'), (1188, 'cuatro'), (1196, 'cuatro'), (1204, 'cuatro'), (1212, 'cuatro'), (1220, 'cuatro'), (1228, 'cuatro'), (1236, 'cuatro'), (1244, 'cuatro'), (1252, 'cuatro'), (1260, 'cuatro'), (1268, 'cuatro'), (1276, 'cuatro'), (1284, 'cuatro'), (1292, 'cuatro'), (1300, 'cuatro'), (1308, 'cuatro'), (1316, 'cuatro'), (1324, 'cuatro'), (1332, 'cuatro'), (1340, 'cuatro'), (1348, 'cuatro'), (1356, 'cuatro'), (1364, 'cuatro'), (1372, 'cuatro'), (1380, 'cuatro'), (1388, 'cuatro'), (1396, 'cuatro'), (1404, 'cuatro'), (1412, 'cuatro'), (1420, 'cuatro'), (1428, 'cuatro'), (1436, 'cuatro'), (1444, 'cuatro'), (1452, 'cuatro'), (1460, 'cuatro'), (1468, 'cuatro'), (1476, 'cuatro'), (1484, 'cuatro'), (1492, 'cuatro'), (1500, 'cuatro'), (1508, 'cuatro'), (1516, 'cuatro'), (1524, 'cuatro'), (1532, 'cuatro'), (1540, 'cuatro'), (1548, 'cuatro'), (1556, 'cuatro'), (1564, 'cuatro'), (1572, 'cuatro'), (1580, 'cuatro'), (1588, 'cuatro'), (1596, 'cuatro')]

<hr>

## Ejercicio 5 <a name="ejercicio_cinco"/>

Escriba un programa que permita convertir un texto a código Morse.

El texto a convertir a morse sólo estará compuesto por letras y espacios.

### ¡Prueba tú!

In [138]:
MORSE = {' ': '_', 'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.', 'G': '--.', 'H': '....', 
         'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..', 'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 
         'R': '.-.', 'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-', 'Y': '-.--', 'Z': '--..' }

texto = input('Escribe un texto')
for caracter in texto:
    print(MORSE[caracter.upper()], end ="  ")

Escribe un textohola soy oscar
....  ---  .-..  .-  _  ...  ---  -.--  _  ---  ...  -.-.  .-  .-.

<hr>

## Ejercicio 6 <a name="ejercicio_seis"/>

Escribir un programa que dado un texto cree un diccionario en el que las claves sean las vocales y los valores las palabras que 
que empiecen por esa vocal. Las palabras repetidas sólo deben aparecer una vez.
Se valorará el uso de la definición de diccionarios por comprensión para la creación del diccionario.

Para el siguiente:

*'Hoy estamos en otoño y aún no hace frío, pero en algo más de un mes empieza el invierno y el clima tendrá que cambiar'*

El resultado debe ser:

{'a': ['aún', 'algo'], 'e': ['en', 'estamos', 'empieza', 'el'], 'i': ['invierno'], 'o': ['otoño'], 'u': ['un']}

### ¡Prueba tú!

In [182]:
texto = "Hoy estamos en otoño y aún no hace frío, pero en algo más de un mes empieza el invierno y el clima tendrá que cambiar'"
vocales = "aeiouAEIOU"
iniciales = []
for palabra in texto:
    if(palabra[0] in vocales):
        iniciales.append(palabra[0])

palabras_por_iniciales = {inicial: set([palabra for palabra in texto.split() 
                                    if palabra[0]==inicial])
                          for inicial in sorted(iniciales)}

print (palabras_por_iniciales)

[1]
{'a': {'algo', 'aún'}, 'e': {'empieza', 'el', 'estamos', 'en'}, 'i': {'invierno'}, 'o': {'otoño'}, 'u': {'un'}}

<hr>